<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div id="resources" flex="">
	<md-toolbar md-colors="{background: 'grey-100'}">
		<div class="md-toolbar-tools">
			<span class="md-subhead">Resources</span>
			<span flex=""></span>
			<md-button aria-label="Open phone interactions menu" class="md-icon-button md-primary" ng-click="$mdOpenMenu($event)">
		        <md-icon md-font-icon="material-icons">add_circle</md-icon>
		         <md-tooltip md-direction="left">Novo Resource</md-tooltip>
		    </md-button>
		</div>
	</md-toolbar>
	<md-content flex="">
		
	</md-content>
</div>
</body>
</html>