<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div id="templates" flex="">
	<!-- 
	<md-subheader class="md-primary">Templates ({{actionEditorCT.action.templates.length}})</md-subheader>
	 -->
	<md-toolbar md-colors="{background: 'grey-100'}">
		<div class="md-toolbar-tools">
			<span class="md-subhead">Templates</span>
			<span flex=""></span>
			<md-button aria-label="Open phone interactions menu" class="md-icon-button md-primary" 
				ng-click="actionEditorCT.createTemplate()">
		        <md-icon md-font-icon="material-icons">add_circle</md-icon>
		         <md-tooltip md-direction="left">Novo Template Handlebar</md-tooltip>
		    </md-button>
		</div>
	</md-toolbar>
	<md-content flex="">
		 <md-list-item class="md-2-line" ng-repeat="(name,template) in actionEditorCT.action.templates">
         <div class="md-list-item-text">
            <h4>{{ template.name }}</h4>
            <p>{{ template.description }}</p>
            <!-- MENU DO ITEM DE TEMPLATE -->
            <md-menu class="md-secondary">
		      <md-button class="md-icon-button">
		         <md-icon md-font-icon="material-icons">more_vert</md-icon> 
		      </md-button>
		      <md-menu-content width="4">
		        <md-menu-item>
		          <md-button ng-click="actionEditorCT.editTemplateInfo(template)">
		          	<md-icon md-font-icon="material-icons">edit</md-icon> 
		            Editar informações
		          </md-button>
		        </md-menu-item>
		        <md-menu-item>
		          <md-button ng-click="actionEditorCT.editTemplateContent(template)">
		          	<md-icon md-font-icon="material-icons">settings_ethernet</md-icon>
		            Editar conteúdo
		          </md-button>
		        </md-menu-item>
		        <md-divider></md-divider>
		        <md-menu-item>
		          <md-button>
		          	<md-icon md-font-icon="material-icons">clear</md-icon>
		          	Excluir
		          </md-button>
		        </md-menu-item>
		      </md-menu-content>
		    </md-menu>
          </div>
        </md-list-item>
	</md-content>
	<!-- TEMPLATE EDITOR DIALOG  -->
	<div th:replace="actions/fragments/dialogs/template-info :: #template-info-dialog"></div>
	<!-- TEMPLATE INFO DIALOG  -->
	<div th:replace="actions/fragments/dialogs/template-content :: #template-content-dialog"></div>
	
</div>
</body>
</html>