<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>SKDEV</title>
    <link
	href="/skdev/css/global.css"
	rel="stylesheet"
	type="text/css"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>	
</head>
<body ng-app="skdevMD" >
	<div ng-controller="WorkspaceCT as workspaceCT" style="height: 100%" flex="" layout="column">
		<!-- FRAGMENTO TO TOOLBAR -->
		<div th:replace="projects/fragments/toolbar :: #toolbar"></div>
		<div layout="column" flex="" style="height: 100%">
			<md-content layout="column" flex="" style="height: 100%">
				 <section layout="row" flex="" style="height:100%">
				 	 <!-- FRAGMENTO DO SIDENAV -->
					 <div th:replace="projects/fragments/sidenav :: #sidenav"></div>
					 <!-- FRAGMENTO DO CONTENT -->
					 <div th:replace="projects/fragments/content :: #content"></div>			
				</section>
			</md-content>
		</div>
	</div>
	<script src="/skdev/js/global.js"></script>
</body>
</html>