<md-dialog md-theme="default" aria-label="Action Console" >
	<form name="actionConsoleForm" novalidate="">
		<h2 class="md-title" style="padding-left:24px">Action Console</h2>
		<md-dialog-content class="md-dialog-content">
			<div ng-repeat="log in actionConsoleCT.logs">
				<div class="action-console-log">- 
					<span class="{{log.level}}">{{log.level}}</span> 
					<span class="invoker">
						[
						<span class="invoker-fn">
							{{log.options.invoker}}
						</span>
						]
					</span> 
					: {{log.message}}
					<span class="toggle-detail" ng-click="actionConsoleCT.toggleDetail($index)" ng-show="log.options.details.length > 0">
						<span ng-show="!actionConsoleCT.visibleDetail[$index]">Ver</span> <span ng-show="actionConsoleCT.visibleDetail[$index]">Esconder</span> detalhes</span>
					<div ng-show="actionConsoleCT.visibleDetail[$index]">
						<div class="log-detail" ng-repeat="detail in log.options.details" >
							<div class="log-detail-header">{{detail.header}}:</div>
							<pre class="log-detail-content">{{detail.content}}</pre>
						</div>
					</div>
				</div>
			</div>	
		</md-dialog-content>
		<md-dialog-actions>	
			<md-button ng-click="actionConsoleCT.hide()">
			  Fechar
			</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>
