<md-dialog aria-label="Listagem de Actions">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Listagem de Actions</h2>
		</div>
	</md-toolbar>
	<md-dialog-content>
		<md-list flex>
	        <md-list-item class="md-2-line" ng-repeat="action in actionListCT.actions" ng-click="actionListCT.selectAction(action.header.id)">
	          <md-icon md-font-icon="material-icons">lightbulb_outline</md-icon>	
	          <div class="md-list-item-text" layout="column">
	            <h3>{{ action.header.title }}</h3>
	            <p>{{ action.header.description }}</p>
	          </div>
	        </md-list-item>
        </md-list>
	</md-dialog-content>
	<md-dialog-actions>
		<md-button class="md-primary">
		  Fechar
		</md-button>
	</md-dialog-actions>
</md-dialog>
