<md-dialog aria-label="Listagem de Actions" style="min-width: 30%">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Listagem de Actions</h2>
		</div>
	</md-toolbar>
	<md-dialog-content>
		<md-list flex>
	        <md-list-item class="md-2-line" ng-repeat="(actionId, actionDescription) in actionListCT.actions" ng-click="actionListCT.selectAction(actionId)">
	          <md-icon md-font-icon="material-icons">lightbulb_outline</md-icon>	
	          <div class="md-list-item-text" layout="column">
	            <h3>{{ actionDescription }}</h3>
	          </div>
	        </md-list-item>
        </md-list>
	</md-dialog-content>
	<md-dialog-actions>
		<md-button class="md-primary">
		  Fechar
		</md-button>
	</md-dialog-actions>
</md-dialog>
