<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
	<md-toolbar id="toolbar" class="md-primary" ng-cloak="">
		<div class="md-toolbar-tools">
			<h2><span>SKDev - Action Editor - {{actionEditorCT.action.name}}</span></h2>
			<span flex=""></span>
			<md-button aria-label="Salvar" class="md-icon-button" ng-click="actionEditorCT.save()">
			      <md-icon md-font-icon="material-icons">backup</md-icon>
			      <md-tooltip md-direction="bottom">Salvar</md-tooltip>
		    </md-button>
		    <md-button aria-label="Informações da action"  class="md-icon-button" ng-click="actionEditorCT.sidenavRight()">
			      <md-icon md-font-icon="material-icons">info</md-icon>
			      <md-tooltip md-direction="bottom">Informações da Ação</md-tooltip>
		    </md-button>
		    <md-button aria-label="Run Action"  class="md-icon-button" ng-click="actionEditorCT.runAction(actionEditorCT.action)">
			      <md-icon md-font-icon="material-icons">play_circle_outline</md-icon>
			      <md-tooltip md-direction="bottom">Run Action</md-tooltip>
		    </md-button>
		</div>
	</md-toolbar>
</body>
</html>