<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
	<md-toolbar id="toolbar" class="md-primary">
		<div class="md-toolbar-tools">
			<h2>
				<span>SKDev - Action Editor</span>
			</h2>
			<span flex=""></span>
			<!-- 
			<md-menu>
		      <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
		        <md-icon md-font-icon="material-icons">menu</md-icon>
		      </md-button>
		      <md-menu-content width="4">
		        <md-menu-item>
		          <md-button ng-click="ctrl.redial($event)">
		          	<md-icon md-font-icon="material-icons">create_new_folder</md-icon>
		            Novo Template
		          </md-button>
		        </md-menu-item>
		        <md-menu-divider></md-menu-divider>
		        <md-menu-item>
		          <md-button  ng-click="workspaceCT.showNotification('Notificação Online')">
		          	<md-icon md-font-icon="material-icons">backup</md-icon>
		            Upload
		          </md-button>
		        </md-menu-item>
		        <md-menu-item>
		          <md-button ng-click="ctrl.toggleNotifications()">
		          	<md-icon md-svg-icon="android"></md-icon>
		            Configurações
		          </md-button>
		        </md-menu-item>
		      </md-menu-content>
		    </md-menu> 	 
			 -->
		</div>
	</md-toolbar>
</body>
</html>