<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
	<md-toolbar id="toolbar" class="md-primary">
		<div class="md-toolbar-tools">
			<h2>
				<span>SKDev - Workspace</span>
			</h2>
			<span flex=""></span>
			<md-menu>
				<md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
					<md-icon md-font-icon="material-icons">more_vert</md-icon>
				</md-button>
				<md-menu-content width="4">
					<md-menu-item>
						<md-button ng-click="ctrl.redial($event)">
							<md-icon md-font-icon="material-icons">create_new_folder</md-icon>
						  Novo Projeto
						</md-button>
					</md-menu-item>
					<!-- NOVA ACTION -->
					<md-menu-item>
						<md-button  ng-href="/skdev/actions">
							<md-icon md-font-icon="material-icons">code</md-icon>
						  Nova Ação
						</md-button>
					</md-menu-item>
					<md-menu-divider></md-menu-divider>
					<md-menu-item>
						<md-button ng-click="ctrl.toggleNotifications()">
							<md-icon md-font-icon="material-icons">settings</md-icon>
						  Configurações
						</md-button>
					</md-menu-item>
				</md-menu-content>
			</md-menu> 	 
		</div>
	</md-toolbar>
</body>
</html>