<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
	<md-toolbar id="toolbar" class="md-primary">
		<div class="md-toolbar-tools">
			<h2>
				<span>SKDEV - Workspace</span>
			</h2>
			<span flex=""></span>
			<!-- 
			    <md-button class="md-raised" aria-label="Ações" ng-click="workspaceCT.showActionListDialogByGroup('Novo Projeto','archetypes')">
			      Ações
			    </md-button>
			     -->
			<md-button class="md-icon-button" aria-label="Ações" ng-click="null">
			      <md-icon md-font-icon="material-icons">more_vert</md-icon>
			 </md-button>  
		</div>
	</md-toolbar>
</body>
</html>