<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
	<md-sidenav
		id="sidenav-right" 
		class="md-sidenav-right"
	    md-component-id="sidenav-right"
	    md-whiteframe="1"
	    md-is-locked-open="false"
	    md-disable-backdrop=""
	    style="height:100%"
	  	flex="" >
		<!--  -->
		<div layout="column" flex="" style="height: 100%">
			<md-subheader class="md-warn">Atividades</md-subheader>
			<!-- 
			<div th:replace="actions/fragments/sidenav-left/templates :: #templates"></div>
			 -->
		</div>
		
	</md-sidenav>
</body>
</html>