<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>SKDEV</title>
<link href="/skdev/css/global.css" rel="stylesheet" type="text/css"/>
<link href="/skdev/css/webix.css" rel="stylesheet" type="text/css"/>
<link href="/skdev/css/codemirror.css" rel="stylesheet" type="text/css"/>
</head>
<body ng-app="skdevMD">
	<div webix-ui="" ng-controller="ActionCT"> 
		<div view="rows">
			<!-- TOOLBAR -->
			<div view="toolbar">
				<div view="label" label="SKDev - Action Builder" width="200"></div>
				<div view="button" value="Novo Template" width="100" ></div>
			</div> 
			<div view="cols" >
			    <div width="250"> 
			    	<div id="templatesTree" view="tree" webix-data="templatesTreeData" class="tree" select="true"></div>
			    </div>
			    <div view="resizer"></div>
			    <!-- ACTION EDITOR -->
			    <div id="executejsEditor" css="actionEditor" style="height: 100%;"  ></div>
			    <div id="actionProperty" view="property" width="300">
			    	<div view="element" label="Action Properties" type="label"></div>
			    	<div id="actionPropertyName" view="element" label="Name" type="text"></div>
			    </div>
			</div>
		</div>
	</div>
	<script src="/skdev/js/global.js"></script>
	<script src="/skdev/js/webix.js"></script>
	<script src="/skdev/js/codemirror.js"></script>
</body>
</html>