<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>SKDEV</title>
<link href="/skdev/css/global.css" rel="stylesheet" type="text/css"/>
<link href="/skdev/css/webix.css" rel="stylesheet" type="text/css"/>
<link href="/skdev/css/codemirror.css" rel="stylesheet" type="text/css"/>
</head>
<body ng-app="skdevMD">
	 <div webix-ui="" ng-controller="ActionEditorCT as actionEditorCT"> <!--layout rows with type "space" are created-->
	    <div height="35">Header </div> <!--Webix template is initialized -->
	    <div view="cols" > <!--Webix layout cols are initialized-->
	        <div width="200"> 
	        </div>
	        <div view="resizer"></div>
	                <div id="executejsEditor" style="height: 100%; padding:0 "></div>
	                <div id="dialoghtmlEditor" style="height: 100%;; padding:0 "></div>
	            	<!-- 
	            	 -->
	    </div>
	    <div height="35">Footer</div>
	  </div>
	<script src="/skdev/js/global.js"></script>
	<script src="/skdev/js/webix.js"></script>
	<script src="/skdev/js/codemirror.js"></script>
</body>
</html>