<!doctype html>
<html ng-app="skdevMD">
    <head>
		<meta charset="UTF-8" />
		<title>Action Editor</title>
		<link href="/skdev/css/global.css" rel="stylesheet" type="text/css"/>
		<link href="/skdev/css/angular-material.css" rel="stylesheet" type="text/css"/>
		<link href="/skdev/css/codemirror.css" rel="stylesheet" type="text/css"/>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic"/>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>	
		<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet"/>
		<style type="text/css">
			[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  				visibility: none !important;
			}
			[role="tabpanel"] {
 			   transition: none;
			}
			.CodeMirror-code {
				font-family: 'Source Code Pro', monospace;
				font-size: 13px;
				 text-rendering: optimizeLegibility;
			}
		</style>
    </head>
	<body spellcheck="false">
		<div style="height: 100%" flex="" layout="column" ng-controller="ActionEditorCT as actionEditorCT"> 
			<!-- FRAGMENTO DO TOOLBAR -->
			<div th:replace="actions/fragments/toolbar :: #toolbar"></div>
			<div layout="column" flex="" style="height: 100%">
				<md-content layout="column" flex="" style="height: 100%">
					 <section layout="row" flex="" style="height:100%">
					 	 <!-- FRAGMENTO DO SIDENAV-LEFT -->
						 <div th:replace="actions/fragments/sidenav-left/index :: #sidenav"></div>
						 <!-- FRAGMENTO DO SIDENAV-RIGHT -->
						 <div th:replace="actions/fragments/sidenav-right/index :: #sidenav-right"></div>
						 <!-- FRAGMENTO DO CONTENT -->
						 <div th:replace="actions/fragments/content/index :: #content"></div>			
					</section>
				</md-content>
			</div>
		    <!-- ACTION INFO DIALOG  -->
			<div th:replace="actions/fragments/dialogs/action-info :: #action-info-dialog"></div>
		</div>
		<script src="/skdev/js/global.js"></script>
		<script src="/skdev/js/angular-material.js"></script>
		<script src="/skdev/js/codemirror.js"></script>
	</body>
</html>
