* {
	outline: none !important;
}

.actionEditor .webix_template{
	padding:0;
}

.webix_tree_leaves {
	-moz-user-select: none;
}

.toolbar-vertical-divider {
	border: 1px dotted #d1d1d1;
    display: inline-block;
    height: 20px;
    margin-bottom: -5px;
}

.action-console-log {
	display: block;
	margin-bottom: 2px;
	font-family: 'Source Code Pro', monospace;
	font-size: 13px;
}

.action-console-log .info {
	text-transform: uppercase;
	margin-right: 5px;
	color: rgb(63,81,181);
}

.action-console-log .invoker {
	color: rgb(0, 150, 136);
}

.action-console-log .invoker-fn {
	min-width: 200px;
	display: inline-block;
}

.action-console-log .log-detail {
	display: block;
}

.action-console-log .log-detail-header {
	display: block;
	margin-left: 40px;
	color: rgb(156, 39, 176);
	margin-top: 5px;
}

.action-console-log .log-detail-content {
	display: block;
	color: #555;
	margin-left: 55px;
	font-family: 'Source Code Pro', monospace;
}

.action-console-log .toggle-detail {
	font-size: 11px;
	color: rgb(0, 188, 212);
	cursor: pointer;
}