* {
	outline: none !important;
}

.actionEditor .webix_template{
	padding:0;
}

.webix_tree_leaves {
	-moz-user-select: none;
}

.toolbar-vertical-divider {
	border: 1px dotted #d1d1d1;
    display: inline-block;
    height: 20px;
    margin-bottom: -5px;
}

.action-console-log {
	display: block;
	margin-bottom: 2px;
	font-family: 'Source Code Pro', monospace;
	font-size: 13px;
}

.action-console-log .info {
	text-transform: uppercase;
	margin-right: 5px;
	color: rgb(63,81,181);
}