<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
	<md-sidenav
		id="sidenav" 
		class="md-sidenav-left"
	    md-component-id="sidenav"
	    md-whiteframe="1"
	    md-is-locked-open="true"
	    md-disable-backdrop=""
	    style="height:100%"
	  	flex="" >
		<!--  -->
		<div layout="column" flex="" style="height: 100%" ng-controller="TemplateEditorCT as templateEditorCT">
			<div th:replace="actions/fragments/sidenav-left/templates :: #templates"></div>
		</div>
		
	</md-sidenav>
</body>
</html>