<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
	<div id="template-content-dialog" style="visibility: hidden">
	  <div class="md-dialog-container" id="templateEditorDialog">
		<md-dialog md-theme="default" aria-label="Template" style="min-width: 80%">
		<md-dialog-content class="md-dialog-content" >
			<h2 class="md-title">Template Editor - </h2>
			<div id="templateEditor" style="height: 550px; border:1px solid #ddd" layout="column" flex=""></div>
			</md-dialog-content>
			<md-dialog-actions>
				<md-button class="md-primary" ng-click="actionEditorCT.saveTemplateContent()">
				  Salvar
				</md-button>
				<!-- FECHAR -->
				<md-button  ng-click="templateEditorCT.hideTemplateEditor()">
				  Fechar
				</md-button>
			</md-dialog-actions>
		</md-dialog>
	  </div>
	 </div>
</body>
</html>