<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
	<div id="template-info-dialog" style="visibility: hidden">
	   <div class="md-dialog-container" id="templateInfoDialog">
		<md-dialog md-theme="default" aria-label="Template Info" style="width: 25%">
			<form name="templateInfoForm" novalidate="">
				<md-dialog-content class="md-dialog-content">
					<md-progress-linear ng-show="templateEditorCT.saveInfoStatus" md-mode="indeterminate" class="md-warn"></md-progress-linear>
					<h2 class="md-title">Informações do Template</h2>
					 <!-- NAME -->	
					 <md-input-container class="md-block">
				        <label>Name</label>
				        <input name="name" ng-model="templateEditorCT.template.name" md-maxlength="32" ng-maxlength="32"  ng-required="true" autocomplete="off"/>
				        <div ng-messages="templateInfoForm.name.$error" ng-show="templateInfoForm.$invalid">
			            	<div ng-message="required">O nome do template é obrigatório.</div>
			            	<div ng-message="maxlength">O nome deve possuir até 32 caracteres.</div>
			          	</div>
				     </md-input-container>
				     <!-- DESCIPTION -->
					 <md-input-container class="md-block">
				        <label>Description</label>
				        <textarea name="description" ng-model="templateEditorCT.template.description" md-maxlength="64" ng-maxlength="64"  rows="5" ng-required="true"></textarea>
				        <div ng-messages="templateInfoForm.description.$error" ng-show="templateInfoForm.$invalid">
			            	<div ng-message="required">A descrição do template é obrigatória.</div>
			            	<div ng-message="maxlength">A descrição deve possuir até 64 caracteres.</div>
			          	</div>
				     </md-input-container>
				</md-dialog-content>
				<md-dialog-actions>
					<md-button class="md-primary" ng-disabled="templateInfoForm.$invalid || !templateInfoForm.$dirty || templateInfoForm.saveStatus" 
							   ng-click="templateEditorCT.save(actionEditorCT.action.id)" >
					  Salvar
					</md-button>
					<md-button type="reset"  ng-click="templateEditorCT.hideTemplateInfo()">
					  Fechar
					</md-button>
				</md-dialog-actions>
			</form>
		</md-dialog>
	   </div>
	  </div>
</body>
</html>