<md-dialog aria-label="Ação de Teste" style="min-width: 30%">
	<form name="actionForm" novalidate>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Ação de Teste</h2>
			</div>
		</md-toolbar>
		<!-- COMPONENTS -->
		<md-dialog-content flex class="md-dialog-content">
			<!-- SELECT_ONE_ECLASS -->
			<md-input-container class="md-block">
				<label>Selecione a classe de dominio</label>
				<md-select ng-model="actionCT.values['selectDomainClassId']" multiple>
					<md-option ng-repeat="option in actionCT.endpoints['selectDomainClassId']" ng-value="option.name">
						{{option.name}}
					</md-option>
				</md-select>
			</md-input-container>
		</md-dialog-content>
		<md-dialog-actions>
			<md-button class="md-primary" ng-disabled="actionForm.$invalid" ng-click="actionCT.execute()">Executar</md-button>
			<md-button ng-click="actionCT.hide()">Fechar</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>