<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>					   	
    <md-tab id="config" label="config.json" style="height: 100%" layout-fill="">
      <md-tab-content flex="" layout-fill="">
   	  		<div layout="column" style="height: 100%">
	      		<div>
	      			<div layout="row">
	      				<div>
	      				</div>
	      				<div flex=""></div>
	      				<md-button class="md-icon-button" title="Ajuda" ng-click="null">
	      					<md-icon md-font-icon="material-icons" >help</md-icon>
	      				</md-button>
	      			</div>
	      		</div>
	      		<md-content flex="" style="height: 100%">
		   	  		<div id="configjsonEditor" style="height: 100%; border: 1px solid #ddd" layout="column" flex=""></div>
	      		</md-content>
      		</div>
      </md-tab-content>
    </md-tab>
</body>
</html>