<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>					   	
	<div id="core" layout="column" style="height: 100%">
		<div>
			<div layout="row">
				<div>
					<md-button class="md-icon-button" title="Templates Handlebars" ng-click="actionEditorCT.showTemplates()">
						<md-icon md-svg-icon="signal-hspa"></md-icon>
					</md-button>
					<md-button class="md-icon-button" title="Novo Template Handlebars" ng-click="null">
						<md-icon md-svg-icon="signal-hspa-plus"></md-icon>
					</md-button>
				</div>
				<div flex=""></div>
				<md-button class="md-icon-button" title="Executar" ng-click="null">
					<md-icon md-font-icon="material-icons" title="Ajuda">help</md-icon>
				</md-button>
			</div>
		</div>
		<div layout="row" style="height: 100%">
			<div flex="">
		 		<md-content flex="" style="height: 100%">
		  			<div id="dialoghtmlEditor" style="height: 100%; border: 1px solid #ddd" layout="column" flex=""></div>
		 		</md-content>
			</div>
			<div flex="">
				<md-content flex="" style="height: 100%">
					<div id="executejsEditor" style="height: 100%; border: 1px solid #ddd " layout="column" flex=""></div>
				</md-content>
			</div>
		</div>
	</div>
</body>
</html>