<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>					   	
    <md-tab id="dialog" label="Dialog.html" style="height: 100%" layout-fill="">
      <md-tab-content flex="" layout-fill="">
   	  		<div layout="column" style="height: 100%">
	      		<div>
	      			<div layout="row">
	      				<div>
	      				</div>
	      				<div flex=""></div>
	      				<md-button class="md-icon-button" title="Executar" ng-click="null">
	      					<md-icon md-svg-icon="arrow-right-drop-circle"></md-icon>
	      				</md-button>
	      			</div>
	      		</div>
	      		<md-content flex="" style="height: 100%">
		   	  		<div id="dialogEditor" style="height: 100%; border: 1px solid #ddd" layout="column" flex=""></div>
	      		</md-content>
      		</div>
      </md-tab-content>
    </md-tab>
</body>
</html>