<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>					   	
    <md-tab id="execute" label="Execute.js" style="height: 100%" layout-fill="">
      <md-tab-content flex="" layout-fill="">
      		<div layout="column" style="height: 100%" ng-controller="ExecuteJSEditorCT as executeJSEditorCT">
      			<!-- TOOLBAR -->
  	  			<div style="border-bottom: 1px solid #ddd">
  	  				<!-- 
  	  				<md-button class="md-icon-button">
  	  					<md-icon md-svg-icon="undo"></md-icon>
  	  					<md-tooltip md-direction="bottom">Desfazer</md-tooltip>
  	  				</md-button>
  	  				<md-button class="md-icon-button">
  	  					<md-icon md-svg-icon="redo"></md-icon>
  	  					<md-tooltip md-direction="bottom">Redo</md-tooltip>
  	  				</md-button>
  	  				<span class="toolbar-vertical-divider"></span>
  	  				 -->
  	  				<md-button class="md-icon-button">
  	  					<md-icon md-svg-icon="redo"></md-icon>
  	  					<md-tooltip md-direction="bottom">Redo</md-tooltip>
  	  				</md-button>
  	  			</div>
  	  			<div flex="">
		      		<md-content flex="" style="height: 100%">
			   	  		<div id="executeJSEditor" style="height: 100%; " layout="column" flex=""></div>
		      		</md-content>
  	  			</div>
      		</div>
      </md-tab-content>
    </md-tab>
</body>
</html>