<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>					   	
    <md-tab id="execute" label="Execute.js" style="height: 100%" layout-fill="">
      <md-tab-content flex="" layout-fill="">
      		<div layout="column" style="height: 100%">
	      		<div>
	      			<md-button class="md-icon-button" title="Executar">
	      				<md-icon md-svg-icon="arrow-right-drop-circle"></md-icon>
	      			</md-button>
	      		</div>
	      		<md-content flex="" style="height: 100%">
		   	  		<div id="executejsEditor" style="height: 100%; border: 1px solid #ddd" layout="column" flex=""></div>
	      		</md-content>
      		</div>
      </md-tab-content>
    </md-tab>
</body>
</html>