<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>					   	
	<md-content id="content" flex="" layout="column" style="height: 100%">
		<!-- 
		<div th:replace="actions/fragments/content/core :: #core"></div>
		 -->
	   	<md-tabs flex="" layout="column" layout-fill="" md-border-bottom="">
	      <div th:replace="actions/fragments/content/dialog :: #dialog"></div>	
	      <div th:replace="actions/fragments/content/execute :: #execute"></div>	
	      <!-- 
	   	  <div th:replace="actions/fragments/content/config :: #config"></div>	
	      <div th:replace="actions/fragments/content/templates :: #templates"></div>	
	      <div th:replace="actions/fragments/content/resources :: #resources"></div>	
	       -->
      </md-tabs>
	</md-content>
</body>
</html>