<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>					   	
   <md-tab id="templates" label="Templates">
      <md-tab-content flex="" layout-fill="">
   	  		<div layout="column" style="height: 100%">
	      		<div style="border-bottom: 1px solid #ddd">
	      			<div layout="row">
	      				<div>
	      				</div>
	      				<div flex=""></div>
	      				<md-button class="md-icon-button" title="Executar" ng-click="null">
	      					<md-icon md-svg-icon="arrow-right-drop-circle"></md-icon>
	      				</md-button>
	      			</div>
	      		</div>
	      		<md-content flex="" style="height: 100%">
	      			<div layout="row" style="height: 100%">
	      				<div flex="15" style="background-color: #fff; border-right: 1px solid #ddd">
	      					<md-subheader class="md-primary">Templates Handlebars</md-subheader>
	      				</div>
	      				<div flex="" style="height: 100%">
			      			<div id="templatesEditor" style="height: 100%; " layout="column" flex=""></div>
	      				</div>
	      			</div>
	      		</md-content>
      		</div>
      </md-tab-content>
   </md-tab>
</body>
</html>