<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>SKDEV</title>
    <link
	href="/skdev/css/global.css"
	rel="stylesheet"
	type="text/css"/>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic"/>
</head>
<body ng-app="skdevMD">
	 <md-toolbar class="md-primary">
	 	<div class="md-toolbar-tools">
	      <h2 >
	        <span>Projeto Selecionado</span>
	      </h2>
	      <span flex=""></span>
	      <md-button class="md-raised" aria-label="Executar Ação">
	        Executar Ação
	      </md-button>
	 	</div>
    </md-toolbar>
	<script src="/skdev/js/global.js"></script>
</body>
</html>