<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>SKDEV</title>
    <link
	href="/skdev/css/global.css"
	rel="stylesheet"
	type="text/css"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>	
</head>
<body ng-app="skdevMD">
	<md-toolbar id="toolbar" class="md-primary">
		<div class="md-toolbar-tools">
		    <h2 >
		      <span></span>
		    </h2>
		    <span flex=""></span>
		    <md-button class="md-raised" aria-label="Ações" ng-click="projectCT.showActionListDialog()">
		      Ações
		    </md-button>
		</div>
	</md-toolbar>
	<div layout="row" ng-controller="ProjectListCT as projectListCT">
		<div ng-repeat="project in projectListCT.projects" flex-xs="" flex-gt-xs="50">
	        <md-card>
	        	<md-card-title>
	          		<md-card-title-text>
	            		<span class="md-headline">{{project.name}}</span>
	            		<span class="md-subhead">{{project.pom.parent.artifactId}} - {{project.pom.parent.version}}</span>
	          		</md-card-title-text>
	          		<!-- 
	          		<md-card-title-media>
	            		<div class="md-media-lg card-media"></div>
	          		</md-card-title-media>
	          		 -->
	        	</md-card-title>
	        	<md-card-actions layout="row" layout-align="end center">
	          		<md-button ng-href="/skdev/project?name={{project.name}}">Entrar</md-button>
	        	</md-card-actions>
	      	</md-card>
		</div>  
	</div>
	<script src="/skdev/js/global.js"></script>
</body>
</html>