<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="'SKDEV - ' + ${project}"></title>
    <link
	href="/skdev/css/global.css"
	rel="stylesheet"
	type="text/css"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>	
</head>
<body ng-app="skdevMD">
    <div flex="" style="height:100%" layout="column" ng-controller="ProjectCT as projectCT" ng-clock="">
		<!-- MENU -->
		<ng-include src="'/skdev/partials/menu.html'"/>
	    <md-content id="content" style="height: 100%" flex="">
		    <div flex="" layout="column" style="height:100%">
			    <section layout="row" flex="" style="height:100%">
					<md-sidenav class="md-sidenav-left"
					      md-component-id="left"
					      md-whiteframe="4"
					      style="height:100%"
						  flex="" >
						<md-subheader class="md-primary">Classes de Domínio <span ng-show="projectCT.classes.length > 0">({{projectCT.classes.length}})</span></md-subheader>
						<md-content flex="">
							 <md-progress-linear class="md-warn" md-mode="indeterminate" ng-show="projectCT.findAllClassesLoader"></md-progress-linear>
							 <md-list flex="" >
						        <md-list-item class="md-2-line md-dense"  ng-repeat="domainClass in projectCT.classes | orderBy: 'name'">
						            <md-icon md-font-icon="material-icons">copyright</md-icon>
						            <div class="md-list-item-text">
							            <h4 title="{{ domainClass.name }}">{{ domainClass.name }}</h4>
						            </div>
						        </md-list-item>
						     </md-list>
						</md-content>
				   	</md-sidenav>
				   	<md-content flex="">
						<md-tabs md-dynamic-height="" md-border-bottom="">
			      			<md-tab label="Pages">
			        			<md-content class="md-padding">
					            </md-content>
			        	  	 </md-tab>
			        	  	 <md-tab label="Log">
			        			<md-content class="md-padding">
					            </md-content>
			        	  	 </md-tab>
			        	  	 <md-tab label="Rest">
			        			<md-content class="md-padding">
					            </md-content>
			        	  	 </md-tab>
			        	</md-tabs>
				   	</md-content>
				</section>
			</div>
	    </md-content>
	</div>
	<script src="/skdev/js/global.js"></script>
</body>
</html>