<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>SKDEV</title>
    <link
	href="/skdev/css/global.css"
	rel="stylesheet"
	type="text/css"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>	
</head>
<body ng-app="skdevMD" >
	<div ng-controller="WorkspaceCT as workspaceCT" style="height: 100%" flex="" layout="column">
		<md-toolbar id="toolbar" class="md-primary">
			<div class="md-toolbar-tools">
			    <h2 >
			      <span>SKDEV - Workspace</span>
			    </h2>
			    <span flex=""></span>
			    <!-- 
			     -->
			    <md-button class="md-raised" aria-label="Ações" ng-click="workspaceCT.showActionListDialogByGroup('Novo Projeto','archetypes')">
			      Ações
			    </md-button>
			</div>
		</md-toolbar>
		 <div layout="column" flex="" style="height: 100%">
		<md-content layout="column" flex="" style="height: 100%">
				<md-grid-list flex=""
			 			   md-cols-gt-md="3"
			  			   md-cols-sm="1"
			  			   md-cols-xs="1"
			 			   md-cols="2"
			 			   md-cols-md="2"
			 			   md-cols-lg="3"
			 			   md-cols-gt-lg="5"
			 			   md-cols-xl="4"
			 			   md-gutter="8px" md-gutter-gt-sm="4px"
			 			   md-row-height-gt-md="170px" 
			 			   md-row-height="170px" ng-cloak="">
			 	    <md-grid-tile ng-repeat="project in workspaceCT.projects">
				        <md-card style="width: 100%">
				        	<md-card-title>
				          		<md-card-title-text>
				            		<span class="md-headline">{{project.name}}</span>
				            		<span class="md-subhead">{{project.pom.parent.artifactId}} - {{project.pom.parent.version}}</span>
				          		</md-card-title-text>
				        	</md-card-title>
				        	<!-- 
				        	<md-card-content>Teste</md-card-content>
				        	 -->
				        	<md-card-actions layout="row" layout-align="end center">
				          		<md-button ng-href="/skdev/project?name={{project.name}}">Entrar</md-button>
				        	</md-card-actions>
				      	</md-card>
			 	    </md-grid-tile>
			 	</md-grid-list>
		</md-content>
		</div>
	</div>
	<script src="/skdev/js/global.js"></script>
</body>
</html>