<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>SKDEV</title>
<script type="text/javascript"
	src="/webjars/angularjs/1.5.8/angular.min.js"></script>
<script type="text/javascript"
	src="/webjars/angularjs/1.5.8/angular-resource.min.js"></script>
<script type="text/javascript"
	src="/webjars/angularjs/1.5.8/angular-animate.min.js"></script>
<script type="text/javascript"
	src="/webjars/angularjs/1.5.8/angular-aria.min.js"></script>
<link type="text/css"
	href="/webjars/angular-material/1.1.1/angular-material.min.css" />
<script type="text/javascript"
	src="/webjars/angular-material/1.1.1/angular-material.min.js"></script>
<script type="text/javascript"
	src="/js/app.module.js"></script>
</head>
<body ng-app="skdevMD">
	<h1>Selecione o diretório workspace</h1>
	{{1+1}}
</body>
</html>