<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>SKDEV</title>
    <link
	href="/skdev/css/global.css"
	rel="stylesheet"
	type="text/css"/>
</head>
<body ng-app="skdevMD">
	<div layout="column" layout-align="center center">
		<div flex="" style="width:500px">
			<md-content layout-padding="">
				<md-card>
					<form method="POST" action="setup" >
						<!-- LOGO SKDEV -->
						<div layout="column" layout-align="center center">
							<img alt="skdev" src="/skdev/images/logo.png"/>
						</div>
						<md-input-container class="md-block" flex-gt-xs="">
							<label>Digite o caminho do diretório do workspace Eclipse</label> 
							<input name="path" ng-model="user.company" />
						</md-input-container>
						<md-button type="submit" class="md-raised md-primary">Enviar</md-button>
					</form>
				</md-card>
			</md-content>
		</div>
	</div>
	<script src="/skdev/js/global.js"></script>
</body>
</html>