<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>					   	
   <md-tab id="actions" label="Ações" layout-fill="">
     <md-tab-content class="md-padding" flex="" layout-fill=""></md-tab-content>
     	<div ng-controller="ActionListCT as actionListCT">
			<md-table-container>
			  <table md-row-select="" md-table="" ng-model="workspaceCT.selectedAction" md-progress="promise">
			    <thead md-head="">
			      <tr md-row="">
			        <th md-column=""><span>Name</span></th>
			        <th md-column=""><span>Description</span></th>
			        <th md-column=""><span>Groups</span></th>
			      </tr>
			    </thead>
			    <tbody md-body="">
			      <tr md-row="" md-select="action" md-select-id="name" md-auto-select="" ng-repeat="action in actionListCT.actions">
			        <td md-cell="">{{action.name}}</td>
			        <td md-cell="">{{action.description}}</td>
			        <td md-cell="">{{action.groups}}</td>
			      </tr>
			    </tbody>
			  </table>
			</md-table-container>
     	</div>
   </md-tab>
</body>
</html>